
body{
    font-family: sans-serif;
    background-image: url("/Movie-App/BackEnd/imges/statisticsImage.jpg"); 
    background-size: cover;  
    
    background-blend-mode: hue;
    background-color: #ffffff54!important;
}

.headLine{
    color: rgb(18, 17, 17);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust to your preference for vertical centering */
  }

  .chart{
    background-color: #00000061;
    width: 35%;
  }